.main-content {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    // grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "banner banner banner"
        "posts posts sidebar";
}

.banner {
    border-bottom: 1px solid #BDA3D2;
    color: #E2C9F7;
    grid-area: banner;
    padding: 5rem 1rem;
    text-align: center;
    &-title {
        font-size: 6rem;
        line-height: .9;
        margin: 0 0 2rem;
    }
    &-description {
        color: #8B74A6;
        font-size: 1.6rem;
        line-height: 1.6;
        margin: 0 auto 2.6rem;
        width: 80%;
    }
    &-action {
        background-color: #BDA3D2;
        border: none;
        border-radius: 4px;
        color: #14092C;
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem 2rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .1s ease-in-out;
        &:hover, &:focus {
            background-color: #E2C9F7;
        }
    }
}

.posts {
    background-color: #E2C9F7;
    border-right: 1px solid #14092C;
    grid-area: posts;
    padding: 1rem 0;
    &-title {
        color: #4F4572;
        font-size: 1.8rem;
        margin: 3rem 1rem 3.6rem 5rem;
    }
}

.sidebar {
    background-color: #E2C9F7;
    grid-area: sidebar;
    padding: 1rem 0;
    &-title {
        color: #4F4572;
        font-size: 1.8rem;
        margin: 3rem 1rem 3.6rem;
    }
}

.post {
    border-top: #14092C 1px solid;
    padding: 2rem 5rem;
    &-header {
        margin-bottom: 2.4rem;
    }
    &-title {
        margin: 0;
    }
    &-link {
        color: #4F4572;
        font-size: 1.8rem;
        line-height: 1.4;
        &:hover, &:focus {
            color: #14092C;
        }
    }
    &-date {
        color: #4F4572;
        font-size: .8rem;
    }
    &-body {
        display: flex;
        column-gap: 1rem;
        margin-bottom: 1.6rem;
        &-image {
            object-fit: cover;
            width: 120px;
            height: 120px;
        }
        &-content {
            line-height: 1.6;
        }
    }
    &-author {
        margin-bottom: 1rem;
        div {
            display: flex;
            column-gap: .5rem;
        }
        &-image {
            border: 3px solid #BDA3D2;
            border-radius: 40px;
            object-fit: cover;
            width: 40px;
            height: 40px;
        }
        &-name {
            color: #4F4572;
            height: 43px;
            line-height:43px;
            margin: 0;
            text-decoration: none;
        }
    }
}

.popular-authors {
    border-top: 1px solid #14092C;
    list-style: none;
    text-align: center;
    &-item {
        padding: 3rem 0 0;
    }
    &-image {
        border: 3px solid #BDA3D2;
        border-radius: 100%;
        object-fit: cover;
        width: 60%;
        max-width: 300px;
    }
    &-link {
        color: #4F4572;
        font-size: 1.2rem;
        text-decoration: none;
        &:hover, &:focus {
            color: #14092C;
        }
    }
}